.hello-world {
	font-family: "Source Sans Pro";
	font-weight: 100;
	font-style: oblique;
	color: red;
	text-shadow: 0 0 0.1em red;
}

.hello-world::selection {
	background: Highlight;
	color: HighlightText;
	text-shadow: none;
}
